
   {% extends "parent.html" %}
   {% block content %}

      <h2>Kontakt</h2>

    <div>
        <ul>
            {% for item in items %}
             <li><b>{{item}}: </b>{{items[item]}}</li>
            {% endfor %}
        </ul>
    </div>
        
        <form action="" method="POST">
            <label id="sent_mail "><strong>Wyślij wiadomość</strong></label><br><br>
            <textarea id="message " name="user_message "></textarea><br><br>
            <button id="submit " type="submit ">Prześlij</button><br><br>
        </form>
    {% endblock %}
